*{
    box-sizing: border-box;
    
}

body{
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: rgba(1, 120, 211, 0.2);
    background-blend-mode: overlay;
   background-attachment: fixed;
}

#main{
 
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}


#welcome-section{
    display: block;
    background-color: rgba(95, 98, 100, 0.2);
}


#navbar{
    background-color: rgba(15, 19, 134, 0.8);
    width: 100%;
   padding: 2.5%;
    text-align: center;
   
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#navbar a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin: 25px;
}

