

*{
    box-sizing: border-box;
    color: white;
    
}

body{
    margin: 0;
   
    background-color: #f3f2f2;
}


#header{
    display: flex;
    border-bottom: 3px solid goldenrod;
    background-color: azure;
    width: 100%;
    position: fixed;
    top: 0;
    text-align: center;    
    align-items: center;
    z-index: 999;
}

#header #title{
    color: rgb(17, 46, 152);
    margin-left: 50px;
    
}

#header #nav-bar{
   margin-left: 100px;
}
#header .nav-link{
    text-decoration: none;
    font-size: 20px;
    padding: 5px 30px;
    color: goldenrod;
}

#header .home{
    background-color: goldenrod;
    margin-right: 25px;
    border-radius: 25px;
    color: white;
}

#header a:hover:not(.home){
    background-color: rgb(43, 41, 41);
    color: white;
}

#header a:active:not(.home){
    background-color: rgba(78, 77, 77, 0.7);
}


.section {
    margin-top: 80px;
    width: 100%;
  
}




.section .headtitle{
    width: inherit;
    padding: 10px;
  
   
}
.section .headtitle h1{
    font-size: 30px;
    color: black;
    text-align: center;
}



.section .berita p{
    font-size: 20px;
    color: black;
    word-break: break-all;
}
.section .headtitle img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 350px;
    background-size: contain;
    border-radius: 10px;
}

.content {
    margin-top: 25px;
    background-color: #ffffff;
    border-radius: 5px;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 35px;
}

.content p{
    font-size: 20px;
    word-spacing: 7px;
    color: black;
}













#footer{
    background-color: rgb(53, 53, 53);
    width: 100%;
    padding: 2.5%;
    text-align: center;    
    font-size: 25px;
} 



